:root {
--text-primary-color: #931621;
--text-secondary-color: #040303;
}
* {
font-family: 'Playfair Display', serif;
}

.twisted-text {
color: var(--text-primary-color);
}

.form-colors-contact {
  color: var(--text-secondary-color);
}
.submit-button-contact {
  color: var(--text-secondary-color);
}
.form-colors, .twisted-description, .twisted-rating {
  color: var(--text-primary-color);
}


.submit-button {
  color: var(--text-primary-color);
}
#h3-contact, .home-introduction, .about, .main-contact {
  color: var(--text-secondary-color);
}
.home-introduction {
  text-align: center;
}
.nav-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.nav-bar > ul > li {
  display: inline;
}

.nav-bar a {
  float: left;
  padding: 12px;
  color: var(--text-primary-color);
 &:active, &:hover {
    color: var(--text-secondary-color);
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.main-contact {
  text-align: center;
font-style: italic;
}
.book-rose {
  background: url("https://cdn.pixabay.com/photo/2014/08/16/18/17/book-419589_1280.jpg") center center no-repeat;  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
header > h1 {
  text-align: center;
  color: var(--text-secondary-color);
}

@media (min-width: 550px) {
  .nav-bar > .fa-bars {
    display: none;
  }
}

/* nav > .fa-bars {
  display: none;
} */

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }
}

.link {
  display: flex;
flex-direction: column;
}



.boxes-twisted {
  display: grid;
  grid-template-columns:45% 25%;
}

.twisted-img {
  display: flex;
  justify-content: flex-start;
  width: 80vh;
  height: 110vh;
}

#huang-books {
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
  margin: auto;
}

#huang-books tbody {
  width: 100%;
}

#huang-books th {
  text-align: center;
}

#huang-books td,th {
  text-align: center;
  width: 25%;
  word-spacing: 10%;
}
