:root {
--background-color: #040303;
--text-primary-color: #931621;
--text-secondary-color: #FFFFFF;
}
* {
font-family: 'Playfair Display', serif;
}

.home-introduction, .about, .main-contact {
color: var(--text-primary-color);
}
.home-background, .about-background, .contact-background {
  background-color: var(--background-color);
}
.form-colors {
  color: var(--text-secondary-color);
}

#h3-contact {
  color: var(--text-secondary-color);
}
.home-introduction {
  text-align: center;
}

.main-contact {
  text-align: center;
font-style: italic;
}
.book-rose {
  background-image: url("https://cdn.pixabay.com/photo/2014/08/16/18/17/book-419589_1280.jpg");
  background-size: cover;
  height: 80vh;
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}
.link {
  display: flex;
flex-direction: column;
}

