:root {
--background-color: #040303;
--text-primary-color: #931621;
--text-secondary-color: #FFFFFF;
}
* {
font-family: 'Playfair Display', serif;
}

.twisted-text {
color: var(--text-primary-color);
}
.home-background, .about-background, .contact-background, .twisted-background {
  background-color: var(--background-color);
}
.form-colors-contact {
  color: var(--text-secondary-color);
}
.form-colors {
  color: var(--text-primary-color);
}

#h3-contact, .home-introduction, .about, .main-contact {
  color: var(--text-secondary-color);
}
.home-introduction {
  text-align: center;
}
.nav-bar {
  text-align: right;
}
.main-contact {
  text-align: center;
font-style: italic;
}
.book-rose {
  background-image: url("https://cdn.pixabay.com/photo/2014/08/16/18/17/book-419589_1280.jpg");
  background-size: cover;
  height: 75vh;
}
header > h1 {
  text-align: center;
  color: var(--text-secondary-color);
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}
.link {
  display: flex;
flex-direction: column;
}


.boxes-twisted {
  content: "";
  display: table;
  clear: both;
}
.twisted-comments {
  float: right;
  height: 470px;
  width: 23%;
  padding: 0 10px;
}
.twisted-img {
  display: flex;
  justify-content: flex-start;
  width: 100vh;
  height: 110vh;
}


